/*=============================================
=            Color Variables                      =
=============================================*/

$primary-color: #7579e7;
$menu-color: rgba(154, 179, 245, 0.3);
$text-color: #4c4c4c;
$cta-color: #ffe05d;


/*=====  End of Color Variables  ======*/


